body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
blockquote,
pre,
div,
dl,
dt,
dd,
ol,
ul,
li,
th,
td,
form,
fieldset,
input,
textarea,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font) !important;
  --main-font: 'Jost', sans-serif;
  --main-grey: #f5f5f5;
}

html {
  font-size: 18px;
  overflow: initial;
}

body {
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #111 !important;
  box-sizing: border-box;
  overflow-x: hidden;
}

.v-application {
  font-family: var(--main-font) !important;
  color: #111;
  /* margin: auto; */
}

.theme--light.v-application {
  color: #111;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.75rem;
  font-weight: 500;

  line-height: 1.2;
}

@media (max-width: 767.98px) {
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.375rem;
  }
}

a {
  text-decoration: none;
  color: inherit !important;
  // font-family: inherit;
  // font-size: inherit;
}

ul {
  list-style-type: none;
}

.list-styled {
  list-style-type: disc;
  padding-left: 40px !important;
}

:root {
  --animate-delay: 0.08s;
  --animate-duration: 0.3s;
}

.container-control {
  // height: 100%;
  margin: auto;
  width: 100%;
  max-width: 1140px;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 576px) {
  .container-control {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-control {
    max-width: 720px;
  }
}

@media (min-width: 960px) {
  .container-control {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-control {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-control {
    max-width: 1140px;
  }
}
section + section {
  padding: 3rem 0;
}

.row {
  margin: 0 !important;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -12px !important;
}

.font-size-xxxs {
  font-size: 0.6875rem !important;
}

.font-size-xxs {
  font-size: 0.8125rem !important;
}

.font-size-xs {
  font-size: 0.875rem !important;
}

.font-size-sm {
  font-size: 0.9375rem !important;
}

.font-size-lg {
  font-size: 1.125rem !important;
}

.heading-xxs {
  font-size: 0.8125rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.heading-xxxs {
  font-size: 0.6875rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.btn {
  height: calc(1.5rem + 1.75rem + 2px);
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  opacity: 0.9;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
  padding: 0.875rem 1.75rem;
  white-space: nowrap;
}

.btn-sm {
  height: calc(1.40625rem + 1.625rem + 2px);
  padding: 0.8125rem 1.5rem;
  font-size: 0.9375rem;
}

.btn-xs {
  height: calc(1.40625rem + 1rem + 2px);
  padding: 0.5rem 0.75rem;
  font-size: 0.9375rem;
}

.btn-xxs {
  height: calc(1.40625rem + 0.375rem + 2px);
}

.btn:hover {
  opacity: 1;
}

.btn-block {
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 0.5rem;
}

.btn-dark {
  color: #fff !important;
  background: #1f1f1f;
}

.btn-light {
  background-color: #f5f5f5;
  border-color: #f5f5f5;

  &:hover {
    background-color: #e2e2e2;
    border-color: #dcdcdc;
  }
}

.btn-circle {
  border-radius: 50%;
}

.btn-circle.btn-xxs {
  width: calc(1.40625rem + 0.375rem + 2px);
}

.btn-square.btn-xxs {
  width: calc(1.40625rem + 0.375rem + 2px);
}

.btn-primary {
  opacity: 1;
  color: #fff;
  background-color: #ff6f60;
  border-color: #ff6f61;
  &:hover {
    background-color: #ff4c3b;
    border-color: #ff412e;
  }
}

.btn-outline-dark {
  border: 1px #1f1f1f solid;
  &:hover {
    color: #fff;
    background-color: #1f1f1f;
    border-color: #1f1f1f;
  }
}

.btn-outline-border {
  border: 1px #e5e5e5 solid;
  &:hover {
    border-color: #1f1f1f;
  }
  &.active {
    border-color: #1f1f1f;
  }
}

.update-cart-btn {
  color: #909090;
  &:hover {
    color: #111;
  }
}

.bg-light {
  background: var(--main-grey);
}

.bg-dark {
  background: #1f1f1f !important;
}

.disableBtn {
  cursor: not-allowed;
}

/* OVERWRITE VUETIFY SPACING */
.v-application {
  /* PADDING */
  .py-3,
  .pt-3 {
    padding-top: 0.75rem !important;
  }
  .py-3,
  .pb-3 {
    padding-bottom: 0.75rem !important;
  }

  .pa-3 {
    padding: 0.75rem !important;
  }

  .py-4,
  .pt-4 {
    padding-top: 1rem !important;
  }

  .py-4,
  .pb-4 {
    padding-bottom: 1rem !important;
  }

  .pl-4,
  .px-4 {
    padding-left: 1rem !important;
  }

  .pr-4,
  .px-4 {
    padding-right: 1rem !important;
  }

  .pa-5 {
    padding: 1rem !important;
  }

  .py-5,
  .pt-5 {
    padding-top: 1.25rem !important;
  }

  .py-5,
  .pb-5 {
    padding-bottom: 1.25rem !important;
  }

  .pa-5 {
    padding: 1.25rem !important;
  }

  .py-6,
  .pt-6 {
    padding-top: 1.5rem !important;
  }

  .py-6,
  .pb-6 {
    padding-bottom: 1.5rem !important;
  }

  .pa-6 {
    padding: 1.5rem !important;
  }

  .py-7,
  .pt-7 {
    padding-top: 2rem !important;
  }

  .py-7,
  .pb-7 {
    padding-bottom: 2rem !important;
  }

  .pa-7 {
    padding: 2rem !important;
  }

  .pt-9,
  .py-9 {
    padding-top: 3rem !important;
  }

  .pb-9,
  .py-9 {
    padding-bottom: 3rem !important;
  }

  .pa-9 {
    padding: 3rem !important;
  }

  .pl-md-10,
  .px-md-10 {
    padding-left: 4rem !important;
  }

  .pa-10 {
    padding: 4rem !important;
  }

  .pt-11,
  .py-11 {
    padding-top: 5rem !important;
  }

  .pb-11,
  .py-11 {
    padding-bottom: 5rem !important;
  }

  .pa-11 {
    padding: 5rem !important;
  }

  .py-12,
  .pt-12 {
    padding-top: 6rem !important;
  }

  .py-12,
  .pb-12 {
    padding-bottom: 6rem !important;
  }

  .pa-12 {
    padding: 6rem !important;
  }

  /* MARGIN */
  .my-4,
  .mt-4 {
    margin-top: 1rem !important;
  }

  .my-4,
  .mb-4 {
    margin-bottom: 1rem !important;
  }

  .my-6,
  .mt-6 {
    margin-top: 1.5rem !important;
  }

  .my-6,
  .mb-6 {
    margin-bottom: 1.5rem !important;
  }

  .my-7,
  .mt-7 {
    margin-top: 2rem !important;
  }

  .my-7,
  .mb-7 {
    margin-bottom: 2rem !important;
  }

  .my-8,
  .mt-8 {
    margin-top: 2.5rem !important;
  }

  .my-8,
  .mb-8 {
    margin-bottom: 2.5rem !important;
  }

  .my-9,
  .mt-9 {
    margin-top: 3rem !important;
  }

  .my-9,
  .mb-9 {
    margin-bottom: 3rem !important;
  }

  .my-10,
  .mb-10 {
    margin-bottom: 4rem !important;
  }

  .my-10,
  .mt-10 {
    margin-top: 4rem !important;
  }

  .my-11,
  .mt-11 {
    margin-top: 5rem !important;
  }

  .my-11,
  .mb-11 {
    margin-bottom: 5rem !important;
  }

  .my-12,
  .mt-12 {
    margin-top: 6rem !important;
  }

  .my-12,
  .mb-12 {
    margin-bottom: 6rem !important;
  }
}

// Medium screen
@media (min-width: 960px) {
  .v-application {
    .mb-md-0 {
      margin-bottom: 0px !important;
    }
  }
}

.theme--light.v-icon {
  color: inherit;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  // padding: 0 12px;
  padding: 0 1rem;
}

.v-rating {
  display: flex;
  align-items: center;
}

p {
  margin: 0 !important;
}

/* END OF OVERWRITE VUETIFY CLASSES */

.menu-body {
  padding: 2rem;
  min-width: 200px;
  font-size: 1rem;
  background: #fff;
  box-shadow: none !important;
  border-radius: 0 !important;
}

.menu-link {
  color: #525252 !important;
  transition: color 0.2s ease-in-out;
}

.menu-link:hover {
  color: #111 !important;
}

.menu-item + .menu-item {
  margin-top: 0.75em;
}

.shop-button {
  display: inline-block;
  height: calc(1.5rem + 1.75rem + 2px);
  white-space: nowrap;
  font-weight: 500;
  vertical-align: middle;
  padding: 0.875rem 1.75rem;
  text-align: center;

  .shop-icon {
    font-size: 1rem !important;
    transition: transform 0.2s ease-out;
  }

  &:hover .shop-icon {
    transform: translatex(0.2em);
  }

  &:hover .arrow-move-left.shop-icon {
    transform: translatex(-0.2em);
  }
}

.white-button {
  background: #fff;
  color: #111 !important;

  .shop-icon {
    color: #111 !important;
  }
}

.img-with-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bg-hover {
  position: relative;
  background: rgba(31, 31, 31, 0);
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background: rgba(31, 31, 31, 0.1);
    .shop-icon {
      transform: translatex(0.2em);
    }
  }
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: '';
  background-color: rgba(0, 0, 0, 0);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: searchfield-cancel-button !important;
}

.border {
  border: 1px solid #e5e5e5;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.close {
  z-index: 20;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  color: #ccc;
  cursor: pointer;
  &:hover {
    color: #a6a6a6;
  }
}

.form-group {
  margin-bottom: 1.5rem;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.custom-select {
  width: 100%;
  display: inline-block;
  padding: 0.875rem 3.5rem 0.875rem 1.5rem;
  margin-bottom: 1.5rem;
  background: #fff url('/img/backgroundPatterns/arrowDown.svg') no-repeat right 1.5rem center/1rem 1rem;
  border: 1px solid #ccc;
  transition: border-color 0.1s ease-in-out;
  &:focus {
    border-color: #555;
  }
}

.custom-select-xxs {
  height: calc(1.40625rem + 0.375rem + 2px);
  padding: 0.1875rem 2.5rem 0.1875rem 0.5rem;
  font-size: 0.9375rem;
  background: url('/img/backgroundPatterns/arrowDown.svg') no-repeat right 0.5rem center/1rem 1rem;
  outline: none;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.75rem + 2px);
  padding: 0.875rem 1.5rem;
  line-height: 1.5;
  outline: none;
  border: 1px solid #ccc;
  transition: border-color 0.1s ease-in-out;
  &:focus {
    border-color: #555;
  }
}

.form-control-sm {
  height: calc(1.5em + 1.625rem + 2px);
  padding: 0.8125rem 1.25rem;
  font-size: 0.9375rem;
  line-height: 1.5;
}

textarea.form-control {
  height: auto;
}

.input-group-append {
  margin-left: -1px;
  display: flex;
}

.input-group-merge {
  border: 1px solid #e5e5e5;
  &:focus-within {
    border-color: #555;
  }
}

.input-group > .form-control {
  position: relative;
  flex: 1 1 0%;
  min-width: 0;
  margin-bottom: 0;
}

.input-group-merge .form-control {
  border-width: 0;
}

.input-group-text {
  padding: 0.8125rem 1.25rem;
  font-size: 0.9375rem;
  color: #767676;
}

.custom-control-label {
  padding-left: 0.5rem;
  cursor: pointer;

  &.payment-label {
    display: flex;
  }
}

.custom-control {
  white-space: nowrap;
}

.w-auto {
  width: auto;
}
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.fade {
  transition: all 0.4s ease-in-out;
  opacity: 1;
  &:not(.show) {
    opacity: 0;
  }
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .tab-active {
  display: block;
}

.text-primary {
  color: #ff5252 !important;
}

.text-muted {
  color: #767676 !important;
}

.text-gray-350 {
  color: #a6a6a6 !important;
}

.text-gray-400 {
  color: #909090 !important;
}

.text-gray-500 {
  color: #525252 !important;
}

.img-fluid {
  max-width: 100%;
  height: 100%;
}

.pointer-cursor {
  cursor: pointer;
}

.modal-header {
  display: flex;
  flex-direction: flex-column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5rem !important;
  position: relative;
  height: 8vh;
  text-align: center;
}

.v-navigation-drawer__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social-link {
  color: #a6a6a6 !important;
  &:hover {
    color: #909090 !important;
  }
}

table,
th,
td {
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
  overflow-x: auto;
  vertical-align: top;
}

thead th {
  font-size: 0.9375rem;
  font-weight: 500;
  vertical-align: middle;
}

.tablesm td,
th {
  padding: 1.25rem;
  font-size: 0.9375rem;
}

tbody tr {
  background: none;
  &:hover {
    background: var(--main-grey);
  }
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-item {
  border: 1px solid #e5e5e5;
  text-transform: capitalize;
  display: flex;
  align-items: center;

  &.collapsible {
    padding: 0;
    border-top: none;
  }

  &--active {
    color: #111 !important;
    font-weight: 500;
  }
}

.list-group-item + .list-group-item {
  border-top: none;
}

.list-group-sm {
  .list-group-item {
    padding: 1.25rem;
  }
}

.list-group-lg {
  .list-group-item {
    padding: 2rem;
  }
}

.list-group-flush-x {
  .list-group-item {
    padding-left: 0;
    padding-right: 0;
    border-left: none;
    border-right: none;
  }
}

.tooltip {
  position: relative;
  display: inline-block;

  .tooltip-text {
    visibility: hidden;
    opacity: 0;
    width: 250px;
    margin-left: -125px; /* Use half of the width, to center the tooltip */
    background: var(--main-grey);
    color: #111;
    font-size: 0.7rem;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    transition: opacity 0.75s ease-in-out;
    padding: 14px;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 10px;
      border-style: solid;
      border-color: var(--main-grey) transparent transparent transparent;
    }
  }

  &:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
}

.subtotal-details {
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 0;
  &:first-child {
    border: none;
    padding-top: 0;
  }
}

.size-item {
  cursor: pointer;
  min-width: 3rem;
  padding: 0.5rem;
  margin: 0 1rem 0.5rem 0;
  text-align: center;
  border: 1px solid #ddd;
}

.old-price {
  text-decoration: line-through;
  color: #a6a6a6 !important;
  font-size: 0.875rem;
}

.size-out-of-stock {
  background: var(--main-grey);
  text-decoration: line-through;
  cursor: not-allowed;
}

.product-thumb {
  opacity: 0.85;
  cursor: pointer;
}

.active-thumb {
  position: relative;
  opacity: 1;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #111;
  }
}

.active-size {
  color: #111;
  border: 1px solid #111;
}

.underline-hover {
  text-decoration: underline;
  color: #111 !important;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.tab-list {
  padding: 9px 18px;
  cursor: pointer;

  &:hover {
    color: #ff6f61;
  }

  &.active {
    color: #ff6f61;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0.75rem;
      right: 0.75rem;
      bottom: 0.25rem;
      border-top: 1px solid #ff6f61;
    }
  }
}

.nav-tabs .tab-list.active::before {
  bottom: -1px;
}

.dropdown-item {
  border-top: 1px solid #e5e5e5;
  font-size: 0.875rem;
  padding: 0.5rem 1.25rem;
  white-space: nowrap;
  min-height: initial;
  &:first-child {
    border: none;
  }
}

.avatar {
  background-color: #f5f5f5;
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.avatar-xxl {
  width: 4rem;
  height: 4rem;
  font-size: 1.33333rem;
}

@media (min-width: 768px) {
  .avatar-xxl {
    width: 6.25rem;
    height: 6.25rem;
    font-size: 2.08333rem;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  background: black;
  background-color: rgba(0, 0, 0, 0.5);
  padding-right: 0;
}

#product-modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-dialog {
  position: relative;
  margin: 1.75rem auto;
  background: #fff;
  width: auto;
  max-width: 90vw;
  height: auto;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.modal-body {
  padding: 2rem;
}

.showing-modal {
  overflow-y: hidden;
  margin-right: 15px;
}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}

/* TRANSITIONS */

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.4s ease-in-out;
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateY(-60px);
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.4s;
}

.modal-fade-enter,
.modal-fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.smooth-enter-active,
.smooth-leave-active {
  transition: height 0.5s;
  overflow: hidden;
}
.smooth-enter,
.smooth-leave-to {
  height: 0;
}

/* END OF TRANSITIONS */
.collapsible {
  overflow: hidden;
  height: 0;
  transition: height 0.5s ease;
}

.thumbnails {
  height: inherit;
  width: auto;
}

.thumbnails-row {
  height: 8.5vh;
}

.cart-img {
  max-width: 100%;
  max-height: 18vh;
}

.product-badge {
  position: absolute;
  top: 5%;
  left: 0;
  text-align: center;
  font-weight: 500;
  font-size: 0.6875em;
  padding: 0.5em 1em;
}

.product-button {
  z-index: 10;
  background: #fff;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;

  &.added-to-cart,
  &.added-to-wishlist {
    color: #ff4c3b;
  }

  &:hover {
    background: #ff8a80;
    color: white;
  }
}

.new-badge {
  background: white;
}

.sale-badge {
  background: black;
  color: white;
}

.card-action {
  position: absolute;
  top: 1.25rem;

  &.card-action-right {
    right: 1.25rem;
  }
}

.card-img {
  position: relative;
  &:hover {
    .card-btn {
      opacity: 1;
    }
  }
}

.card-btn {
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
